h1 {
    color: green;
    font-size: 2em;
    text-align: center;
    background-color: white;
}

body {
    color: white;
}
nav {
    background-color: white;
    color: white;
    padding: 10px;
    word-spacing: 15px;
    text-align: center;
}

.img1 {
position: absolute;
top: 20px;
left: 30px;
motion:none;
}

html {
    --s: 30px; /* the size */
    --c1: green;
    --c2: black;
    
    background:
      conic-gradient(at 60% 60%,var(--c1) 75%,#0000 0)
       0 0/calc(5*var(--s)/2) calc(5*var(--s)/2),
      repeating-conic-gradient(var(--c1) 0 25%,#0000 0 50%)
       0 0/calc(5*var(--s)) calc(5*var(--s)),
      repeating-conic-gradient(var(--c2) 0 25%,var(--c1) 0 50%)
       0 0/var(--s) var(--s); 
  }


